---
title: Simon Hell Nielsen
---
<div class="container">
  <div xmlns:v="http://rdf.data-vocabulary.org/#" typeof="v:Person" class="twelve columns">
    <h1 property="v:name">simon helle nielsen</h1>
    <ul> 
      <li><a href="mailto:simonhn@gmail.com">simonhn@gmail.com</a></li>
      <li>
        <span rel="v:address">
          <span typeof="v:Address">
            <span property="v:city">copenhagen</span>,
            <span property="v:country-name">denmark</span>
          </span>
        </span>
      </li> 
    </ul>
  </div>
  <h2 class="tealtxt">projects</h2>
  <ul>
    <li><a href="http://kbhkoger.herokuapp.com/">københavn koger</a>: a minimalist weather web app for copenhagen</li>
    <li><a href="http://greatest-hits.herokuapp.com/">greatest hits</a>: a social media hitlist of <a href="http://www.abc.net.au">abc</a> podcasts</li>
    <li><a href="http://spis.herokuapp.com/">munch</a>: a personal recipe collector app</li>
    <li><a href="http://psbikes.com.au/">psbikes</a>: a site for my favourite bike pusher</li>
    <li><a href="http://www.abc.net.au/radio">abc radio gateway</a>: web app powered by a complex radio data model</li> 
    <li><a href="/photo">princess bridge photos</a>: spring turning into to summer in melbourne</li> 
    <!--<li><a href="http://cphsk8map.dk">cphsk8map</a>: a skaters guide to copenhagen</li>
        <li><a href="http://scheduleapi.abcradio.net.au">schedule api</a>: an api to the programs featured on <a href="http://www.abc.net.au/radio">abc radio</a></li> -->
  </ul>
  <h2 class="redtxt">latest snaps</h2>
  <div id="image-container" class="clearfix"> 
  </div>

  <h2 class="greentxt">elsewhere</h2>
  <ul> 
    <li><a href="https://github.com/simonhn">github</a></li>
    <li><a href="https://flickr.com/photos/simonhn">flickr</a></li> 
    <li><a href="https://last.fm/user/simonhn">last.fm</a></li> 
  <li><a href="https://au.linkedin.com/in/simonhn">linkedin</a></li> 
  </ul>

</div>

<!--<ul>
  <% #data.Products.Product.each do |id, product| %>
    <li><%#= product["productName"] %></li
    <%# if product["image"] -%>
      <img src="<%#= product["image"][0]["url"]%>" />
    <% #end -%>
  <% #end %>
</ul>>-->
